@page "{id:int}"
@using UtilityMethods;
@model BsslProcurement.Pages.Staff.ItemRequisition.RequisitionItemPricingModel

@{
    ViewData["Title"] = "RequisitionItemPricing";
}
@section Styles{

    <link rel="stylesheet" href="~/css/jquery.fancybox.css" type="text/css" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Error
    </div>
}

@if (Model.Requisition == null)
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        No requisition Available
    </div>
}
else
{

    <div class="row mt-5">
        <div class="col-md-12">
            <form id="reqForm" class="panel panel-login" method="post" enctype="multipart/form-data">
                <div class="panel-heading">
                    <div class="row">
                        <p class="header-text">Purchase Requisition For @Model.Requisition.PRNumber</p>

                    </div>
                    <hr>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div>
                    <div class="">

                        <div class=" panel">

                            <div class="d-flex justify-content-center mb-3">

                                <div class="btn btn-outline-dark pl-4">
                                    <input class="form-check-input" type="radio" checked asp-for="Requisition.ProcurementType" value="Capital Procurement">
                                    @Model.Requisition.ProcurementType
                                </div>


                            </div>



                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>PR No : </label>
                                    <input class="form-control" readonly asp-for="Requisition.PRNumber" value="@Model.Requisition.PRNumber" placeholder="" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Date : </label>
                                    <input class="form-control" readonly asp-for="Requisition.Date" value="@Model.Requisition.Date" type="date" placeholder="Pick Date" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Delivery Date : </label>
                                    <input class="form-control" type="date" readonly asp-for="Requisition.DeliveryDate" placeholder="Pick Delivery Date" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Requesting Dept/Section : </label>
                                    <input class="form-control" readonly asp-for="Requisition.RequesterValue" placeholder="Enter Department" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Required At : </label>
                                    <input class="form-control" readonly value=@Model.Requisition.RequiredAtDepartment />

                                </div>
                            </div>

                            <div class="mt-3 mb-5 col-sm-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>S/No</th>
                                            <th class="text-center">Store Item Code</th>
                                            <th class="text-center">Supplier</th>
                                            <th class="text-center">Description Of <br />Goods/Services</th>
                                            <th class="text-center">Unit Of<br />Measurement</th>
                                            <th class="text-center">Unit Price</th>
                                            <th class="text-center">Quantity </th>
                                            <th class="text-center">Amount</th>

                                        </tr>
                                    </thead>
                                    <tbody id="requisitionBody">
                                        @for (int i = 0; i < Model.Requisition.RequisitionItems.Count; i++)
                                        {
                                            var item = Model.Requisition.RequisitionItems[i];

                                        <tr class="">

                                            <td class="">
                                                <label>1</label>
                                                <input type="hidden" />
                                            </td>

                                            <td>
                                                <div class="flex-row d-flex">
                                                    <input type="text" codeID="@i" value=@item.StoreItemCode inputclass="code @i" />
                                                    <input type="hidden" codeID="@i" asp-for="Requisition.RequisitionItems[i].StoreItemCode" inputclass="hiddencode @i" />
                                                    <button class="btn loadItemModal" inputclass="@i" data-toggle="modal" data-target="#itemModal"><i class="fa fa-search"></i></button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="flex-row d-flex">
                                                    <input type="text" class="txtsupinput @i" />
                                                    <input class="supinput @i" type="hidden" readonly asp-for="Requisition.RequisitionItems[i].VendorId" />
                                                    <button class="btn loadVendorModal" inputclass="supinput @i" data-toggle="modal" data-target="#vendorModal"><i class="fa fa-search"></i></button>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" required asp-for="Requisition.RequisitionItems[i].Description" value="@item.Description" />
                                            </td>
                                            <td>
                                                <input type="text" required asp-for="Requisition.RequisitionItems[i].UnitOfMeasurement" value="@item.UnitOfMeasurement" />
                                            </td>
                                            <td>
                                                <input class="text-right" type="number" asp-for="Requisition.RequisitionItems[i].UnitPrice" value="@item.UnitPrice" />

                                            </td>
                                            <td>
                                                <input class="text-right" type="number" required asp-for="Requisition.RequisitionItems[i].Quantity" value="@item.Quantity" />
                                            </td>

                                            <td>
                                                <input class="text-right" type="number" asp-for="Requisition.RequisitionItems[i].Amount" value="@(Convert.ToInt32(item.Quantity) * Convert.ToInt32(item.UnitPrice))" />

                                            </td>
                                            <td>
                                                <div class="d-flex flex-column">
                                                    <a class="fancybox m-5 btn btn-link fas fa-file-pdf" data-fancybox-type="iframe" href="@Url.Content("~/Attachments/" + @Model.Requisition.RequisitionItems[i].Attachment.FilePath)">Open PDf Attachment</a>
                                                </div>
                                            </td>
                                        </tr>

                                        }
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td class="font-weight-bold text-right">Total Amount : </td>
                                            <td class="font-weight-bold text-lg-center">@NairaFormat.GetNairaValue(Model.Requisition.RequisitionItems.Sum(x => Convert.ToInt32(x.Amount)))</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <input type="hidden" id="lastIndex" value="0" />
                                @*<div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3"> </div>
                                            <div class="col-sm-6 text-center">
                                                <button id="btnMore" class="btn btn-outline-primary">New Item</button>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>


                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="my-2 col-sm-6">
                                        <div class="col-sm-12">
                                            <label>Prepared By : </label>
                                            <span class="d-flex flex-row">
                                                <input id="txtprepared" asp-for="Requisition.PreparedBy" class="form-control" readonly rows="6" placeholder="" />
                                                @*<button class="btn loadStaffModal" value="txtprepared" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>*@

                                            </span>


                                        </div>
                                        <div class="col-sm-12 mt-2">
                                            <label>Rank : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" asp-for="Requisition.PreparedByRank" readonly id="txtpreparedRank" rows="6" placeholder="" />
                                            </span>

                                        </div>
                                    </div>
                                    <div class="my-2 col-sm-6">
                                        <div class="col-sm-12">
                                            <label>For : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" asp-for="Requisition.PreparedFor" readonly id="forStaffText" rows="6" placeholder="" />
                                                @*<button class="btn loadStaffModal" value="forStaffText" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>*@

                                            </span>

                                        </div>
                                        <div class="col-sm-12 mt-2">
                                            <label>Rank : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" asp-for="Requisition.PreparedForRank" readonly id="forStaffTextRank" rows="6" placeholder="" />
                                            </span>

                                        </div>
                                    </div>

                                    </div>
                            </div>
                            <div class="col-sm-12 m-4 ">
                                @*@if (Model.Requisition.Attachments.Count > 0)
                                {
                                    <h5 class="font-weight-bold">Attachments</h5>
                                    <br>
                                    <div class="d-flex flex-column">
                                        <p>
                                            @foreach (var file in Model.Requisition.Attachments)
                                            {
                                                if (file.FilePath.EndsWith("pdf"))
                                                {
                                                   
                                                }
                                                else
                                                {
                                                    <a class="fancybox m-5" href="@Url.Content("~/Attachments/" + file.FilePath)"><img src="@Url.Content("~/Attachments/" + file.FilePath)" class="img-thumbnail" style="max-width : 10% !important" asp-append-version="true" /></a>

                                                }

                                            }
                                        </p>

                                    </div>
                                }*@

                            </div>


                            <div class="col-sm-12 m-4">
                                <div class="form-group">
                                    <h5 class="font-weight-bold">Purpose : </h5>
                                    <input type="hidden" id="purpose" value="@Model.Requisition.Purpose" />
                                    <div id="editor">

                                    </div>
                                </div>
                            </div>

                            @*<div class="col-sm-4">
                                    <div class="form-group">
                                        <input class="btn btn-block btn-danger fa-print" value="Print" type="button" placeholder="Enter Resgistration Number" />
                                    </div>
                                </div>*@
                        </div>
                        <div class="modal-footer justify-content-center">
                            @*  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                            <input id="btnSubmit" class="btn btn-lg btn-primary" value="Save" type="submit" placeholder="" />

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" id="itemModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Item Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="Itemgrid"></div>
                </div>
                <div id="Itemspinner" class="d-flex justify-content-center">
                    <div class="loader">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="vendorModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vendor Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="Vendorgrid"></div>
                </div>
                <div id="Vendorspinner" class="d-flex justify-content-center">
                    <div class="loader">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{

    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/quill.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>



        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                iframe: {
                    preload: false
                }
            });

            //THis function allows the user to type item code instead of using the search dialog
            //on submit, the code typed by the user will be collected
            $(function () {
                $('#reqForm').submit(function () {
                    //loop trhough all controls with 'inputclass' attribute
                    $('[codeID][type=hidden]').each(function (i, obj) {
                        var hiddenItemCode = $(obj);
                        if (!hiddenItemCode.val()) {
                            var txtItemCode = $('[codeID=' + hiddenItemCode.attr('codeID') + ']');
                            hiddenItemCode.val(txtItemCode.val());
                        }
                    });
                    // return false;
                });
            });


            //set purpose field
            var purposeValue = $("#purpose").val();
            var purposeField = document.getElementById('editor');
            purposeField.innerHTML = purposeValue;

        })

        //loads item modal
        $(function () {
            $('.loadItemModal').on('click', function () {
                $('#itemModal').modal("show");

                //get item name textbox
                var index = $(this).attr('inputclass');
                var fieldToAssign = $('[inputclass="' + 'hiddencode ' + index + '"]');
                var txtToAssign = $('[inputclass="' + 'code ' + index + '"]')
                //var txtToAssign = $('inputclass = '('.code.' + + ''))
                //    ;
                var baseUrl = [location.protocol, '//', location.host, location.pathname].join('');
                $('#Itemgrid').load(baseUrl + '?handler=ItemPartial', function () {
                    $('#Itemspinner').removeClass('d-flex');
                    $('#Itemspinner').hide();
                    $('#itemTable').dataTable();

                    $('.btnItemName').on('click', function () {
                        //assign staff name textbox
                        var btn = $(this);
                        fieldToAssign.val(btn.val());
                        txtToAssign.val(btn.val() + ' -- ' + btn.attr('itemName'));


                        $('#itemModal').modal("hide");
                        return false;
                    });
                });

                return false;

            });
        });


        //loads vendor modal
        $(function () {
            $('.loadVendorModal').on('click', function () {
                $('#vendorModal').modal("show");

                //get supplier name textbox
                var txtToAssign = $('.txt' + $(this).attr('inputclass') + '');
                var idToAssign = $('.' + $(this).attr('inputclass') + '');
                var baseUrl = [location.protocol, '//', location.host, location.pathname].join('');

                $('#Vendorgrid').load(baseUrl + '?handler=VendorPartial', function () {
                    $('#Vendorspinner').removeClass('d-flex');
                    $('#Vendorspinner').hide();
                    $('#vendorTable').dataTable();

                    $('.btnVendorName').on('click', function () {
                        //assign staff name textbox

                        var btn = $(this);
                        txtToAssign.val(btn.attr('vendorId') + "--" + btn.val());
                        idToAssign.val(btn.attr('vendorId'))

                        $('#vendorModal').modal("hide");
                        return false;
                    });
                });

                return false;

            });
        });

    </script>

}