@page
@model BsslProcurement.Pages.Staff.Administration.GroupAccessMgtModel
@{
    ViewData["Title"] = "Group Access Mgt";
}


@section Styles {
}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Error
    </div>
}


<div class="row">
    <div class="col-md-12">


        <div class="panel-heading">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text"> @Model.GroupName User Management</p>
                </div>
            </div>
        </div>
        <a asp-page="GroupManagement" class="btn btn-link">Back to Groups Management</a>

        @if (!(Model.Group.Staffs.Any()))
        {
            <div class="alert alert-danger alert-dismissable fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                No staff added to the group. Please add staffs first

            </div>


        }
        else
        {

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            if (Model.AccessPages.Count > 0)
            {
                <form method="post">

        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-12">
                <h3 class="h3 bg-primary text-white px-3 py-1 mt-2 rounded">
                    Current Access List
                </h3>
            </div>
        </div>
        <div class="form-group">
            <div class="row d-flex mt-5 mb-5">
                <div class="col-5">
                    <input type="submit" asp-page-handler="DeleteAccess" value="Clear All Access" class="btn btn-danger" />
                </div>
            </div>

            <div class="col-md-12">
                <table class="table table-striped table-bordered" id="newGroupAccessTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Page Name</th>

                            <th>Page Path</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AccessPages.Count(); i++)
                        {
                            var p = Model.AccessPages[i];
                            string name;
                            {
                                name = p.DisplayName;
                            }
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                <label>@p.DisplayName</label>
                            </td>
                            <td>
                                <label>@p.ViewEnginePath</label>
                            </td>
                            <td>
                                <button type="submit" asp-page-handler="DeleteAccessById" asp-route-accessId="@p.Id" class="btn btn-sm btn-outline-dark">
                                    <span class="btn-label"><i class="fa fa-edit"></i></span>Delete
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
            }
            <form method="post" id="groupForm" class="form-horizontal">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="GroupName" />
                <div class="form-group mb-5 mt-5">
                    <div class="row mt-3 mb-5">
                        <div class="col-12">
                            <h3 class="h3 bg-primary text-white px-3 py-1 mt-2 rounded">
                                Access List.
                            </h3>
                        </div>
                    </div>

                    <div class="col-12">
                        <table class="table table-striped table-bordered" id="groupAccessTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Page Name</th>

                                    <th>Page Path</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.AccessViewModels.Count(); i++)
                                {
                                    var htmlCheckboxName = $"AccessViewModels[{i}].IsSelected";
                                    var htmlCheckboxId = $"AccessViewModels_{i}__IsSelected";
                                    var p = Model.AccessViewModels[i];
                                    string name;
                                    {
                                        name = p.RazorPage.DisplayName;
                                    }
                                    <tr>
                                        <td>
                                            @(i + 1)
                                        </td>
                                        <td>
                                            <label>@p.RazorPage.DisplayName</label>
                                            <input type="hidden" asp-for="AccessViewModels[i].RazorPage.DisplayName" />
                                        </td>
                                        <td>
                                            <label>@p.RazorPage.ViewEnginePath</label>
                                            <input type="hidden" asp-for="AccessViewModels[i].RazorPage.ViewEnginePath" />
                                        </td>
                                        <td>
                                            <input type="checkbox" name=@htmlCheckboxName id=@htmlCheckboxId value="true"  @(p.IsSelected ? "checked" : "")/>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" asp-page-handler="Save" value="Create Access" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('#newGroupAccessTable').DataTable();

            var table = $('#groupAccessTable').DataTable();


            // Handle form submission event
            $('#groupForm').on('submit', function (e) {
                var form = this;


                var params = table.rows().nodes().to$().find('input').serializeArray();

                console.log(params);
                // Iterate over all form elements
                $.each(params, function () {
                    // If element doesn't exist in DOM
                    if (!$.contains(document, form[this.name])) {
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });
            });
        });

    </script>
}

