@page
@model BsslProcurement.Pages.Staff.JobViews.PreqJobsModel

@{
    ViewData["Title"] = "PreqJobs";
}

<h2>PreqJobs</h2>
<form method="post">

    <input type="hidden" asp-for="Counter" />
    @for (int i = 1; i <= Model.Counter; i++)
    //loop through workflow steps
    {
        <div class="row my-3">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <p class="header-text">Current Prequalification Jobs in Workflow Step @i</p>

                        </div>
                        <hr>
                    </div>
                    <div class="mt-1">
                        <table class="table table-responsive-sm table-striped">
                            <thead>
                                <tr class="table-primary">
                                    <th>Company Name</th>
                                    <th>Company Contact</th>
                                    <th>Assigned to</th>
                                    <th>Assigned Date</th>
                                    <th>Approved</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (!(i + 1 >= Model.Counter))
                                //not to go out of array
                                {

                                    @if (!Model.PrequalificationWorkflow[i].ToPersonOrAssign)
                                    //check if staff was assigned for next step = false
                                    {
                                        @for (int j = 0; j < Model.InputModels.Count(); j++)
                                        {
                                            var item = Model.InputModels[j];

                                            if (item.WorkFlowStep == i)
                                            {

                                                <tr>
                                                    <td>
                                                        @item.CompanyInfo.CompanyName
                                                    </td>
                                                    <td>
                                                        @item.CompanyInfo.ContactName

                                                    </td>
                                                    <td>
                                                        @if (item.Staff == null)
                                                        {
                                                            <span>Not Assigned</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Self</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.CreationDate.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        <input asp-for="InputModels[j].Done" onchange="SetStaffId(@j);" />
                                                        <input type="hidden" asp-for="InputModels[j].AssignedStaff" />
                                                        <input type="hidden" asp-for="InputModels[j].CompanyInfoId" />
                                                        <input type="hidden" asp-for="InputModels[j].WorkFlowStep" />
                                                        <input type="hidden" asp-for="InputModels[j].Id" />
                                                    </td>
                                                    <td>
                                                        <a asp-page="../Review/Prequalification" asp-route-id="@item.Id">Review</a>
                                                    </td>
                                                </tr>
                                            }
                                        }


                                        <tr>
                                            <td>
                                                <input class="codeInput @i form-control-sm ml-1" placeholder="Search Staff Code" />
                                                <button id="btnSearch @i" onclick="getStaff(@i);return false" class="btn btn-sm btn-outline-primary"><i class="fas fa-search"></i></button>
                                                <input type="hidden" id="StaffId" />
                                            </td>
                                            <td>
                                                <input class="txtStaff @i form-control-sm ml-1" disabled />
                                            </td>

                                            <td>
                                                <button type="submit" disabled class="btnAssignInd @i btn btn-block btn-outline-primary">Assign All</button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @for (int j = 0; j < Model.InputModels.Count(); j++)
                                        {
                                            var item = Model.InputModels[j];

                                            if (item.WorkFlowStep == i)
                                            {

                                                <tr>
                                                    <td>
                                                        @item.CompanyInfo.CompanyName
                                                    </td>
                                                    <td>
                                                        @item.CompanyInfo.ContactName
                                                    </td>
                                                    <td>
                                                        @if (item.Staff == null)
                                                        {
                                                            <span>Not Assigned</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Self</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.CreationDate.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        <input type="hidden" asp-for="InputModels[j].CompanyInfoId" />
                                                        <input type="hidden" asp-for="InputModels[j].WorkFlowStep" />
                                                        <input type="hidden" asp-for="InputModels[j].AssignedStaff" />
                                                        <input type="hidden" asp-for="InputModels[j].Id" />

                                                    </td>
                                                    <td>
                                                        <a asp-page="../Review?Prequalification" asp-route-id="@item.Id">Review</a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button id="btnAssignAll" class="btn btn-block">Assign All</button>
                                            </td>
                                        </tr>

                                    }
                                }
                                else if (i + 1 == Model.Counter)
                                //semi last workflow step
                                {
                                    @if (!Model.PrequalificationWorkflow[i].ToPersonOrAssign)
                                    //check if staff was assigned for next step = false
                                    {
                                        @for (int j = 0; j < Model.InputModels.Count(); j++)
                                        {
                                            var item = Model.InputModels[j];

                                            if (item.WorkFlowStep == i)
                                            {

                                                <tr>
                                                    <td>
                                                        @item.CompanyInfo.CompanyName
                                                    </td>
                                                    <td>
                                                        @item.CompanyInfo.ContactName

                                                    </td>
                                                    <td>
                                                        @if (item.Staff == null)
                                                        {
                                                            <span>Not Assigned</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Self</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.CreationDate.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        <input asp-for="InputModels[j].Done" onchange="SetStaffId(@j);" />
                                                        <input type="hidden" asp-for="InputModels[j].AssignedStaff" />
                                                        <input type="hidden" asp-for="InputModels[j].CompanyInfoId" />
                                                        <input type="hidden" asp-for="InputModels[j].WorkFlowStep" />
                                                        <input type="hidden" asp-for="InputModels[j].Id" />
                                                    </td>
                                                    <td>
                                                        <a asp-page="../Review/Prequalification" asp-route-id="@item.Id">Review</a>
                                                    </td>
                                                </tr>
                                            }
                                        }


                                        <tr>
                                            <td>
                                                <input class="codeInput @i form-control-sm ml-1" placeholder="Search Staff Code" />
                                                <button id="btnSearch @i" onclick="getStaff(@i);" class="btn btn-sm btn-outline-primary"><i class="fas fa-search"></i></button>
                                                <input type="hidden" id="StaffId" />
                                            </td>
                                            <td>
                                                <input class="txtStaff @i form-control-sm ml-1" disabled />
                                            </td>

                                            <td>
                                                <button type="submit" disabled class="btnAssignInd @i btn btn-block btn-outline-primary">Assign All</button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @for (int j = 0; j < Model.InputModels.Count(); j++)
                                        {
                                            var item = Model.InputModels[j];

                                            if (item.WorkFlowStep == i)
                                            {

                                                <tr>
                                                    <td>
                                                        @item.CompanyInfo.CompanyName
                                                    </td>
                                                    <td>
                                                        @item.CompanyInfo.ContactName
                                                    </td>
                                                    <td>
                                                        @if (item.Staff == null)
                                                        {
                                                            <span>Not Assigned</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Self</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.CreationDate.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        <input type="hidden" asp-for="InputModels[j].CompanyInfoId" />
                                                        <input type="hidden" asp-for="InputModels[j].WorkFlowStep" />
                                                        <input type="hidden" asp-for="InputModels[j].Id" />
                                                        <input class="group @i" type="hidden" asp-for="InputModels[j].AssignedStaff" />
                                                    </td>
                                                    <td>
                                                        <a asp-page="../Review?Prequalification" asp-route-id="@item.Id">Review</a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button id="btnAssignAll" onclick="GroupAssign(@i, '@Model.PrequalificationWorkflow[i].StaffId');" class="btn btn-block">Assign All</button>
                                            </td>
                                        </tr>

                                    }
                                }
                                else
                                //last workflow step
                                {
                                    @for (int j = 0; j < Model.InputModels.Count(); j++)
                                    {
                                        var item = Model.InputModels[j];

                                        if (item.WorkFlowStep == i)
                                        {

                                            <tr>
                                                <td>
                                                    @item.CompanyInfo.CompanyName
                                                </td>
                                                <td>
                                                    @item.CompanyInfo.ContactName
                                                </td>
                                                <td>
                                                    @if (item.Staff == null)
                                                    {
                                                        <span>Not Assigned</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Self</span>
                                                    }
                                                </td>
                                                <td>
                                                    @item.CreationDate.ToShortDateString()
                                                </td>
                                                <td>
                                                    <input type="hidden" asp-for="InputModels[j].CompanyInfoId" />
                                                    <input type="hidden" asp-for="InputModels[j].WorkFlowStep" />
                                                    <input type="hidden" asp-for="InputModels[j].Id" />
                                                </td>
                                                <td>
                                                    <a asp-page="../Review?Prequalification" asp-route-id="@item.Id">Review</a>
                                                </td>
                                            </tr>
                                        }


                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button id="btnAssignAll" class="btn btn-block">Publish</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn form-btn">Update All</button>
            </div>
        </div>
    </div>
</form>
<script>
    function getStaff(val) {
        var code = $('.codeInput' + '.' + val).val();

        if (code) {

            var baseUrl = window.location.origin;

            $.ajax({
                url: baseUrl + '/api/Codes/Staff/' + code.trim(),
                type: 'get',
                xhrFields: {
                    withCredentials: true
                },
                contentType: 'application/json',
                error: function () {
                    alert('Staff not found!');

                    $('.btnAssignInd' + '.' + val).prop('disabled', true);
                },
                success: function (data) {
                    if (!data) {
                        alert('Error Ocurred');

                        $('.btnAssignInd' + '.' + val).prop('disabled', true);
                        return;
                    }
                    $('.txtStaff' + '.' + val).val(data.name);
                    $('#StaffId').val(data.id);
                    $('.btnAssignInd' + '.' + val).prop('disabled', false);
                    // $('.btnAssignInd' + '.' + val).val('Assign To : ' + data.name);
                }
            });


        }
    }


    function SetStaffId(index) {
        var x = $('#InputModels_' + index + '__Done');
        if (x.is(':checked')) {
            var hf = $('#InputModels_' + index + '__AssignedStaff');
            var stID = $('#StaffId').val();
            hf.val(stID);
            //  alert('hello');
        } else {
            var hf = $('#InputModels_' + index + '__AssignedStaff');
            hf.val("");
        }
    }

    function GroupAssign(index, id) {
        alert('hello');
        $('.group' + '.' + index).val(id);
    }


    function test() {
        alert('hello');
        }

</script>

