@page
@model BsslProcurement.Pages.Staff.ItemRequisition.NewRequisitionModel
@{
    ViewData["Title"] = "New Requisition";
}

@section Styles{

    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/fileupload.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/quill.snow.css" rel="stylesheet" />
    <style>
        .custom-file-container {
            max-width: 400px;
        }


        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .faRedColour {
            color: red;
        }

        .ql-editor {
            min-height: 200px;
        }

        @@media (min-width: 768px) {
            .modal-xl {
                width: 90%;
                max-width: 1200px;
            }
        }
    </style>
}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Error
    </div>
}

<div class="row mt-5">
    <div class="col-md-12">
        <form class="panel panel-login" method="post" enctype="multipart/form-data">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">New Purchase Requisition</p>

                </div>
                <hr>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div>
                <div class="">

                    @*<div class=" panel">
                            <div class="text-center mb-3">
                                <div class="form-group mb-0">
                                    <label class="btn btn-outline-dark pl-4">
                                        <input class="form-check-input" type="radio" checked asp-for="Requisition.ProcurementType" value="Capital Procurement">
                                        Capital Procurement
                                    </label>
                                    <label class="btn btn-outline-dark pl-4">
                                        <input class="form-check-input" type="radio" asp-for="Requisition.ProcurementType" value="Recurrent Procurement">
                                        Recurrent Procurement
                                    </label>
                                </div>
                            </div>
                        </div>*@
                    <div class="row p-2">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>PR No : </label>
                                <input class="form-control" readonly asp-for="Requisition.PRNumber" value="@Model.PrNo" placeholder="" />
                                <input type="hidden" asp-for="serialNo" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>PR Date : </label>
                                <input class="form-control" data-date="date" data-id="Rdate" />
                                <input asp-for="Requisition.Date" type="hidden" data-id="Rdate" />

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Expected Delivery Date : </label>
                                <input class="form-control" data-date="date" data-id="Deliverydate" />
                                <input hidden data-id="Deliverydate" asp-for="Requisition.DeliveryDate" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Requesting :</label>
                                <div class="panel border border-dark rounded p-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-0">
                                                <label class="btn btn-outline-dark"><input type="radio" checked asp-for="Requisition.RequesterType" value="Department" /> Department</label>
                                                <label class="btn btn-outline-dark"><input type="radio" asp-for="Requisition.RequesterType" value="Division" /> Division</label>
                                                <label class="btn btn-outline-dark"><input type="radio" asp-for="Requisition.RequesterType" value="Section" /> Section</label>
                                                <label class="btn btn-outline-dark"><input type="radio" asp-for="Requisition.RequesterType" value="Unit" /> Unit</label>
                                                <label class="btn btn-outline-dark"><input type="radio" asp-for="Requisition.RequesterType" value="Staff" /> Staff</label>
                                                <label class="btn btn-outline-dark"><input type="radio" asp-for="Requisition.RequesterType" value="Project" /> Project</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-0">
                                                <input readonly type="text" class="requesterCode form-control-sm" value="@Model.RequestingDeptCode" />
                                                <button id="btnRequester" class="btn btn-default btn-sm"><i class="fas fa-search"></i></button>
                                                <input class="requesterValue form-control-sm" readonly asp-for="Requisition.RequesterValue" value="@Model.RequestingDept" placeholder="Enter Department" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Delivery Destination : </label>
                                <select asp-items="Model.Departments" asp-for="Requisition.RequiredAtDepartment" class="form-control"></select>
                            </div>
                        </div>

                        <div class="mt-3 mb-5 col-sm-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="table-primary">
                                        <th>S/No</th>
                                        <th>Description Of <br />Goods/Services <i class="fa fa-asterisk fa-xs faRedColour"></i></th>
                                        <th>Quantity <i class="fa fa-asterisk fa-xs faRedColour"></i></th>
                                        <th>Unit Of<br />Measurement</th>
                                        <th>Attach Supporting File</th>
                                    </tr>
                                </thead>
                                <tbody id="requisitionBody">
                                    <tr>
                                        <td>
                                            <label>1</label>
                                            <input type="hidden" />
                                        </td>
                                        <td>
                                            <input type="text" required asp-for="gridVm[0].RequisitionItem.Description" />
                                        </td>
                                        <td>
                                            <input type="number" required oninput="this.value=this.value.replace(/[^0-9]/g,'');" asp-for="gridVm[0].RequisitionItem.Quantity" />

                                        </td>
                                        <td>
                                            <input type="text" required asp-for="gridVm[0].RequisitionItem.UnitOfMeasurement" />
                                           
                                        </td>
                                        <!-- <td class="d-flex justify-content-start">
                                            <input class="supinput0" type="text" readonly @*asp-for="RequisitionItems[0].VendorId"*@ />
                                            @*<button class="btn loadVendorModal" inputclass="supinput0" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>*@


                                        </td>-->
                                        <td>
                                            <input asp-for="gridVm[0].Attachment" accept=".pdf" id="fileItem" />
                                            <button id="btnPreviewItemAttachment" class="mt-2">Preview</button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" id="lastIndex" value="0" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3"> </div>
                                    <div class="col-sm-6 text-center">
                                        <button id="btnMore" class="btn btn-outline-primary">New Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6">

                            <div class="row">
                                <div class="my-2">
                                    <div class="col-sm-12">
                                        <label>Prepared By : </label>
                                        <span class="d-flex flex-row">
                                            <input id="txtprepared" asp-for="Requisition.PreparedBy" class="form-control" readonly rows="6" placeholder="" />
                                            <button class="btn loadStaffModal ml-1" value="txtprepared" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>Rank : </label>
                                        <span class="d-flex flex-row">
                                            <input class="form-control" asp-for="Requisition.PreparedByRank" readonly id="txtpreparedRank" rows="6" placeholder="" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @*<div class="custom-file-container" data-upload-id="myUniqueUploadId">
                                    <label>
                                        Attach Multiple Files <a href="javascript:void(0)" class="custom-file-container__image-clear"
                                                                 title="Clear Image">&times;</a>
                                    </label>
                                    <label class="custom-file-container__custom-file">
                                        <input type="file" name="files" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple
                                               aria-label="Choose File">
                                        <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                                    </label>
                                    <div class="custom-file-container__image-preview"></div>
                                </div>*@
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="my-2">
                                    <div class="col-sm-12">
                                        <label>For : </label>
                                        <span class="d-flex flex-row">
                                            <input class="form-control" asp-for="Requisition.PreparedFor" readonly id="forStaffText" rows="6" placeholder="" />
                                            <button class="btn loadStaffModal ml-1" value="forStaffText" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>
                                        </span>

                                    </div>
                                    <div class="col-sm-12">
                                        <label>Designation : </label>
                                        <span class="d-flex flex-row">
                                            <input class="form-control" asp-for="Requisition.PreparedForRank" readonly id="forStaffTextRank" rows="6" placeholder="" />
                                        </span>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Justification : </label>
                                <input type="hidden" asp-for="Requisition.Purpose" />
                                <div id="editor">

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                        </div>
                        @*<div class="col-sm-4">
                                <div class="form-group">
                                    <input class="btn btn-block btn-danger fa-print" value="Print" type="button" placeholder="Enter Resgistration Number" />
                                </div>
                            </div>*@
                    </div>

                    <div class="d-flex justify-content-around no-print">
                        @*  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                        <input id="btnSave" class="btn btn-lg btn-outline-info float-left" asp-page-handler="Save" value="Save For Later" type="submit" placeholder="" />

                        <input id="btnSubmit" class="btn btn-lg btn-primary" asp-page-handler="Submit" value="Send for Approval" type="submit" placeholder="" />

                        <button id="printBtn" class="btn btn-lg btn-info" onclick="print(); return false;">Print/Preview</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="staffModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Staff Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="grid"></div>
            </div>
            <div id="spinner" class="d-flex justify-content-center">
                <div class="loader">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="vendorModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vendor Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="Vendorgrid"></div>
            </div>
            <div id="Vendorspinner" class="d-flex justify-content-center">
                <div class="loader">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="requesterModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Requester Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="Requestergrid"></div>
            </div>
            <div id="Requesterspinner" class="d-flex justify-content-center">
                <div class="loader">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modItemPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

                <div class="embed-responsive embed-responsive-4by3">
                    <iframe id="iframeItem" class="embed-responsive-item" src="" allowfullscreen></iframe>
                </div>

            </div>

            <!--Footer-->


        </div>
        <!--/.Content-->

    </div>
</div>
<!--Modal: Name-->


@section Scripts{
    <script src="~/js/fileUpload.js"></script>
    <script src="~/js/quill.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script>

        
        ////print documents
        //$('#printBtn').on('click', function (e) {
        //    e.preventDefault();
        //    print();
        //})

        function readURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#' + id).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        // file input changes, set preview src attribute
        $("#fileItem").change(function () {
            readURL(this, 'btnPreviewItemAttachment');
        });


        //attachment preview button
        $('#btnPreviewItemAttachment').on('click', function (e) {
            var url = $(this).attr('src');
            displayPhotos(url);
            e.preventDefault();
        });
        function displayPhotos(url) {

            $('#iframeItem').attr('src', url);
            $('#modItemPreview').modal();
        }


        //loads vendor modal
        $(function () {
            $('.loadVendorModal').on('click', function () {
                $('#vendorModal').modal("show");

                //get supplier name textbox
                var txtToAssign = $('.' + $(this).attr('inputclass') + '');
                $('#Vendorgrid').load(this.baseURI + '?handler=VendorPartial', function () {
                    $('#Vendorspinner').removeClass('d-flex');
                    $('#Vendorspinner').hide();
                    $('#vendorTable').dataTable();

                    $('.btnVendorName').on('click', function () {
                        //assign staff name textbox
                        txtToAssign.val($(this).val());


                        $('#staffModal').modal("hide");
                        return false;
                    });
                });

                return false;

            });
        });

        //loads Requester modal
        $(function () {
            $('#btnRequester').on('click', function () {
                $('#requesterModal').modal("show");

                var type = $("input[name='Requisition.RequesterType']:checked").val();

                $('#Requestergrid').load(this.baseURI + '?handler=RequesterPartial&type=' + type, function () {
                    $('#Requesterspinner').removeClass('d-flex');
                    $('#Requesterspinner').hide();
                    $('#RequesterTable').dataTable();

                    $('.btnRequesterName').on('click', function () {

                        $('.requesterCode').val($(this).val());
                        $('.requesterValue').val($(this).attr("rname"));

                        $('#requesterModal').modal("hide");
                        return false;
                    });
                });

                return false;

            });
        });

        //to load staff modal
        $(function () {
            $('.loadStaffModal').on('click', function () {
                $('#grid').empty();
                $('#spinner').addClass('d-flex');
                $('#spinner').show();
                $('#staffModal').modal("show");

                //get staff name textbox
                var txtToAssign = $('#' + $(this).val() + '');
                //get staff rank textbox

                var txtRankToAssign = $('#' + $(this).val() + 'Rank');
                $('#grid').load(this.baseURI + '?handler=StaffPartial', function () {
                    $('#spinner').removeClass('d-flex');
                    $('#spinner').hide();
                    $('#staffTable').dataTable();

                    $('.btnStaffName').on('click', function () {
                        //assign staff name textbox
                        txtToAssign.val($(this).val());

                        //assign staff rank textbox
                        txtRankToAssign.val($(this).attr('staffrank'));

                        //$('#forStaffText').val();
                        $('#staffModal').modal("hide");
                        return false;
                    });
                });

                return false;
            });
        });


        //to create a custom memo field/ textbox
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

        //post value of quill editor
        $(function () {
            $('#btnSubmit').on('click', function () {
                var purpose = $('#Requisition_Purpose');
                purpose.val(quill.root.innerHTML);
            })
        })


        //to attach multiple files in preview mode
        //var upload = new FileUploadWithPreview('myUniqueUploadId');


        //add new items to grid
        $('#btnMore').on('click', function (event) {
            event.preventDefault;
            var lastIndex = $('#lastIndex').val();
            var newIndex = Number(lastIndex) + 1;

            newStepRow(newIndex);
            $('#lastIndex').val(newIndex);
            return false;
        });


        function newStepRow(index) {

            var html = '<tr><td><label>' + (Number(index) + 1) + '</label><input type="hidden"></td>' +
                '<td><input type="text" required="" id="gridVm_' + index + '__RequisitionItem_Description" name="gridVm[' + index + '].RequisitionItem.Description" value=""></td>' +
                '<td><input type="number" required="" oninput="this.value=this.value.replace(/[^0-9]/g,'+');" data-val="true" data-val-required="The Quantity field is required." id="gridVm_' + index + '__RequisitionItem_Quantity" name="gridVm[' + index + '].RequisitionItem.Quantity" value=""></td>' +
                '<td><input type="text" required="" id="gridVm_' + index + '__RequisitionItem_UnitOfMeasurement" name="gridVm[' + index + '].RequisitionItem.UnitOfMeasurement" value=""></td>' +
                '<td><input accept=".pdf" id="fileItem" type="file" name="gridVm[' + index + '].Attachment"><button id="btnPreviewItemAttachment" class="mt-2">Preview</button></td>' +
                '</tr>';
            $('#requisitionBody').append(html);
        }
    </script>

}