@page
@model BsslProcurement.Pages.Staff.Workflow.WorkflowCategoryModel
@{
    ViewData["Title"] = "Workflow Category Setup";
}

<div class="mt-2">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="alert alert-success alert-dismissible">@Model.Message</div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <div class="alert alert-danger alert-dismissible">@Model.Error</div>
    }

</div>

<div class="row mt-5">
    <div class="col-md-1 col-lg-3"></div>
    <div class="col-md-10 col-lg-6 my-5">
        <form method="post" class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">Work Flow Category Setup</p>
                </div>
                <hr>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="workflowCategory.Id" />

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <label>Category Code</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control-sm" asp-for="workflowCategory.Code" />
                        <button class="btn btn-outline-primary btn-sm"><i class="fas fa-search"></i></button>
                        <span asp-validation-for="workflowCategory.Code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <label>Category Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" asp-for="workflowCategory.Name" />
                        <span asp-validation-for="workflowCategory.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <label>Description</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" asp-for="workflowCategory.Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn form-btn">Save</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a asp-page="./WorkflowCategory" class="btn btn-outline-dark">Reset</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row my-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">All Workflow Categories</p>
                </div>
                <hr>
            </div>

            <div class="mt-1">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr class="table-primary">
                            <th>S/N</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.workflowCategories.Count; i++)
                        {
                            var item = Model.workflowCategories[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>
                                    <a asp-page="./WorkflowCategory" asp-route-id="@item.Id" class="btn btn-outline-primary" data-toggle="tooltip" title="Edit Workflow Category">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
