@page
@model BsslProcurement.Pages.Staff.Workflow.WorkflowActionSetupModel
@{
    ViewData["Title"] = "Workflow Action Setup";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <div class="mt-2">
        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            <div class="alert alert-success alert-dismissible">@Model.Message</div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Error))
        {
            <div class="alert alert-danger alert-dismissible">@Model.Error</div>
        }

    </div>

    <div class="row mt-5">

        <div class="col-md-1 col-lg-3"></div>
        <div class="col-md-10 col-lg-6 my-5">
            <form method="post" class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <p class="header-text">Workflow Action Setup</p>
                    </div>
                    <hr>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="hidden" asp-for="workflowAction.Id" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <label>Action Name</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" asp-for="workflowAction.Name" />
                            <span asp-validation-for="workflowAction.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3 text-right">
                            <label>Description</label>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control" asp-for="workflowAction.Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button type="submit" class="btn form-btn">Save</button>
                        </div>
                        <div class="col-sm-6 text-center">
                            <a asp-page="./WorkflowActionSetup" class="btn btn-outline-dark">Reset</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row my-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <p class="header-text">All Workflow Actions</p>
                    </div>
                    <hr>
                </div>

                <div class="mt-1">
                    <table id="actionTable" class="table table-responsive-sm table-striped">
                        <thead>
                            <tr class="table-primary">
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.workflowActions.Count; i++)
                            {
                                var item = Model.workflowActions[i];
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <a asp-page="./WorkflowActionSetup" asp-route-id="@item.Id" class="btn btn-outline-primary" data-toggle="tooltip" title="Edit Workflow Actions">
                                            Edit
                                        </a>
                                        @if (item.Workflows.Count < 1)
                                        {
                                            <button class="btn btn-danger btnDelete" workflowactionid="@item.Id" title="Delete unused action.">Delete</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-outline-danger" disabled workflowactionid="@item.Id" title="Can't delete. Action already in use.">Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    
    $(document).ready(function () {
        $('#actionTable').dataTable();

        $('.btnDelete').on('click', function (e) {
            e.preventDefault();
            $(this).html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');

            var wid = $(this).attr('workflowactionid');
            var Url = window.location.origin + "/api/Workflow/WorkflowAction/" + wid;

            $.ajax({
                url: Url,
                type: 'DELETE'
            }).done(function () {
                window.location.href=window.location.href
            }).fail(function (data) {
                console.log(data);
                alert("An error occured.");
            });
        });
    });
</script>
}
