@page
@model BsslProcurement.Pages.Staff.CoCModel
@{
    ViewData["Title"] = "Category of Contract";
}

<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post" class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">@ViewData["Title"]</p>
                </div>
                <hr>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <div class="alert alert-success alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Message
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                <div class="alert alert-danger alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Error
                </div>
            }

            <div class="form-group">
                <label>Name : </label>
                <input class="form-control ml-1" asp-for="ProcurementCategory.CategoryName" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control ml-1" asp-for="ProcurementCategory.CategoryDescription"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3"> </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn form-btn">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">Category List</p>
                </div>
                <hr>
            </div>

            <div class="mt-1">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr class="table-primary">
                            <th>S/N</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ContractCategories.Count; i++)
                        {
                            var item = Model.ContractCategories[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@item.CategoryName</td>
                                <td>@item.CategoryDescription</td>
                                <td>
                                    <a asp-page="./CCSG" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Add and Edit Sub-categories">
                                        Sub-Categories
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
