@page
@model BsslProcurement.Pages.Staff.ItemsModel
@{
    ViewData["Title"] = "Items";
}

<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post" class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">@ViewData["Title"]</p>
                </div>
                <hr>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <div class="alert alert-success alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Message
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                <div class="alert alert-danger alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Error
                </div>
            }

            <div class="form-group">
                <label>Item Code</label>
                <input class="codeInput form-control-sm ml-1" asp-for="Item.ItemCode" />
                <button id="btnSearch" class="btn btn-sm btn-outline-primary"><i class="fas fa-search"></i></button>
            </div>

            <div class="form-group">
                <label>Item Name </label>
                <input class="form-control ml-1" asp-for="Item.ItemName" />
            </div>

            <div class="form-group">
                <label class="control-label">Item Group :</label>
                <select id="selectGroup" class="form-control" asp-items="ViewBag.GroupItems"></select>
            </div>

            <div class="form-group hidden">
                <label class="control-label">Item Subgroup :</label>
                <select id="selectSubgroup" asp-for="Item.ProcurementSubcategoryId" class="form-control"></select>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control ml-1" asp-for="Item.Description"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3"> </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn form-btn">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row my-3">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">Ungrouped Items</p>
                </div>
                <hr>
            </div>

            <div class="mt-1">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                        <tr class="table-primary">
                            <th>S/N</th>
                            <th>Item Code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Group</th>
                            <th>Sub-Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.dItems.Count; i++)
                        {
                            var item = Model.dItems[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@item.ItemCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.Description</td>
                            <td>@item.ProcurementSubcategory.ProcurementCategory.Name</td>
                            <td>@item.ProcurementSubcategory.Name</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    var arrayOfSubCategories = JSON.parse('@Json.Serialize(Model.ContractSubcategories)');

    $(document).ready(function () {
        displaySubgroup();

        $('#selectGroup').on('change', function () {
            displaySubgroup();
        });

        $('#btnSearch').on('click', function (event) {
            event.preventDefault();
            var code = $('.codeInput').val();

            if (code) {

                var baseUrl = window.location.origin;

                $.ajax({
                    url: baseUrl + '/api/Codes/Item/' + code.trim(),
                    type: 'get',
                    xhrFields: {
                        withCredentials: true
                    },
                    contentType: 'application/json',
                    error: function () {
                        alert('An Error occured during search.');
                    },
                    success: function (data) {
                        if (!data) {
                            alert('Code has not been used before.');
                            return;
                        }
                        if (data== '') {
                            alert('Code has not been used before.');
                            return;
                        }

                        alert('This CODE is already in USE!!!');
                        return;
                    },
                });
            }
        });
    });

    function displaySubgroup() {
        var selVal = $('#selectGroup').val();
        $("#selectSubgroup").html("");


        for (var i = 0; i < arrayOfSubCategories.length; i++) {
            if (arrayOfSubCategories[i].procurementCategoryId == selVal) {
                console.log(arrayOfSubCategories);
                var o = new Option(arrayOfSubCategories[i].name, arrayOfSubCategories[i].id);
                /// jquerify the DOM object 'o' so we can use the html method
                $(o).html(arrayOfSubCategories[i].name);
                $("#selectSubgroup").append(o);
            }
        }

    }

</script>