@page
@model BsslProcurement.Pages.Staff.ItemRequisition.BidPreparation.ClearedRequistionsModel
@{
    ViewData["Title"] = "Cleared Requistions";
}

<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <form method="post" class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">@ViewData["Title"]</p>
                </div>
                <hr>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <div class="alert alert-success alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Message
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                <div class="alert alert-danger alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Error
                </div>
            }

            <div class="row pt-3 " style="">
                <div class="col-12 table-responsive table-responsive-sm">
                    <table class="table  table-striped">
                        <thead>
                            <tr class="table-primary">
                                <th>S/N</th>
                                <th>Description</th>
                                <th>Requested For</th>
                                <th>Prepared By</th>
                                <th>Date Prepared</th>
                                <th>Exp. Delivery Date</th>
                                <th>Date Sent</th>
                                <th>Name of Approver</th>
                                <th>Assigned Staff</th>
                                <th>Assigned Desigation</th>
                                <th>Procurement Type 1</th>
                                <th>Procurement Type 2</th>
                                <th>Procurement Method</th>
                                <th>Process Type</th>
                                <th>eRFX Type</th>
                                <th>Approving Remark</th>
                                <th>Budget Year</th>
                            </tr>
                        </thead>


                        <tbody>
                            @for (int i = 0; i < Model.Requisitions.Count; i++)
                            {
                                var item = Model.Requisitions[i];
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@item.PRNumber</td>
                                    <td>@item.Description</td>
                                    <td>@(((DateTime)item.DeliveryDate).ToShortDateString())</td>
                                    <td>@item.RequisitionItems.Count</td>
                                    <td>@item.RequiredAtDepartment</td>
                                    <td>@item.PreparedBy</td>
                                    <td>@item.RequisitionItems.Sum(x => x.UnitPrice * x.Quantity)</td>
                                    <td>@item.Status</td>
                                    <td><a asp-page="./DetailRequisition" asp-route-id="@item.Id" style="color: #007bff">View</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>




        </form>
    </div>
</div>