@page
@model BsslProcurement.Pages.Staff.ItemRequisition.BidPreparation.ERFXModel
@{
    ViewData["Title"] = "ERFX";
}

<script>
    $(document).ready(function () {
        showBidDateBox();

        $("input[type='radio']").on('change', function () {
            showBidDateBox();
        });

        function showBidDateBox() {
            var selectedValue = $("input[name='bidTypeRadioBox']:checked").val();
            if (selectedValue === 'Both') {
                $('#finBidDate').show(500);
                $('#techBidDate').show(500);
                $('#sameDateDiv').show(500);
            } else if (selectedValue === 'Technical') {
                $('#finBidDate').hide(500);
                $('#techBidDate').show(500);
                $('#sameDateDiv').hide(500);
            } else {
                $('#techBidDate').hide(500);
                $('#finBidDate').show(500);
                $('#sameDateDiv').hide(500);
            }
        }

        $('.startDates').on('change', function () {
            if ($('#sameDateCheck').prop('checked')) {
                var d = $(this).val();

                if ($(this).attr('dateType') === 'fin') {
                    $(".startDates.tech").val(d);
                } else {
                    $(".startDates.fin").val(d);
                }
            }
        });
        
        $('.endDates').on('change', function () {
            if ($('#sameDateCheck').prop('checked')) {
                if ($(this).attr('dateType') === 'fin') {
                    $(".endDates.tech").val($(this).val());
                } else {
                    $(".endDates.fin").val($(this).val());
                }
            }
        });
    });

</script>

<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <form method="post" class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <p class="header-text">@ViewData["Title"]</p>
                </div>
                <hr>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <div class="alert alert-success alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Message
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Error))
            {
                <div class="alert alert-danger alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Model.Error
                </div>
            }

            <input id="" class="form-control" type="hidden" asp-for="ERFXViewModel.ReqId" />

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4 text-sm-right">
                            <label>eRFx No : </label>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input id="" class="form-control" asp-for="ERFXViewModel.ERFXNum" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4 text-sm-right">
                            <label>eRFx Date : </label>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input id="" class="form-control" asp-for="ERFXViewModel.ErfxDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2 text-sm-right">
                            <label>Project Title : </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input id="" class="form-control" asp-for="ERFXViewModel.ProjectTitle" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4 text-sm-right">
                            <label>PR No : </label>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input id="" readonly class="form-control" asp-for="ERFXViewModel.PRQNum" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4 text-sm-right">
                            <label>PR Date : </label>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input id="" readonly class="form-control" asp-for="ERFXViewModel.PRQDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4 text-sm-right">
                            <label>Item Category : </label>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4 text-sm-right">
                            <label>No of Line Item : </label>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input id="" readonly class="form-control" asp-for="ERFXViewModel.ItemNum" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2 text-sm-right">
                            <label>Bid Setup For : </label>
                        </div>
                        <div class="col-sm-9">
                            <div id="bidTypeDiv" class="form-group">
                                <label class="btn btn-outline-dark"><input name="bidTypeRadioBox" asp-for="ERFXViewModel.BidType" type="radio" value="@DcProcurement.Enums.BidTypes.Technical" /> Technical Bid</label>
                                <label class="btn btn-outline-dark"><input name="bidTypeRadioBox" asp-for="ERFXViewModel.BidType" type="radio" value="@DcProcurement.Enums.BidTypes.Financial" /> Financial Bid</label>
                                <label class="btn btn-outline-dark"><input name="bidTypeRadioBox" asp-for="ERFXViewModel.BidType" type="radio" value="@DcProcurement.Enums.BidTypes.Both" /> Both</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border rounded mb-3 pt-3">
                <div id="sameDateDiv" class="row">
                    <div class="col-12"><input class="ml-3 mb-3" id="sameDateCheck" asp-for="ERFXViewModel.SameDate" /> Same Date</div>
                </div>

                <div id="techBidDate" class="row" style="">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5 text-sm-right">
                                <label>Technical Bid Start Date : </label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input id="techBidStartDate" class="form-control startDates tech" dateType="tech" asp-for="ERFXViewModel.TechnicalBidStartDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5 text-sm-right">
                                <label>Technical Bid End Date : </label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input id="techBidEndDate" class="form-control endDates tech" dateType="tech" asp-for="ERFXViewModel.TechnicalBidEndDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="finBidDate" class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5 text-sm-right">
                                <label>Financial Bid Start Date : </label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input id="finBidStartDate" class="form-control startDates fin" dateType="fin" asp-for="ERFXViewModel.FinancialBidStartDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5 text-sm-right">
                                <label>Financial Bid End Date : </label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input id="finBidEndDate" class="form-control endDates fin" dateType="fin" asp-for="ERFXViewModel.FinancialBidEndDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label>Item Category : </label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Vendor ID</th>
                                <th>Vendor Names</th>
                                <th>Vendor Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group form-inline">
                                        <input id="" class="form-control" />
                                        <button><i class="fas fa-search"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group form-inline">
                                        <input id="" class="form-control" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group form-inline">
                                        <input id="" class="form-control" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2 text-sm-right">
                            <label>Subject : </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input id="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label>CC : </label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Staff ID</td>
                                <td>Staff Names</td>
                                <td>Staff Email</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group form-inline">
                                        <input id="" class="form-control" />
                                        <button><i class="fas fa-search"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group form-inline">
                                        <input id="" class="form-control" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group form-inline">
                                        <input id="" class="form-control" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-around no-print">
                <input id="btnSave" class="btn btn-lg btn-outline-info float-left" asp-page-handler="Save" value="Save For Later" type="submit" />

                <input class="btn btn-lg btn-primary" asp-page-handler="Submit" value="Submit" type="submit" />

                <button id="printBtn" class="btn btn-lg btn-info">Cancel</button>
            </div>

        </form>
    </div>
</div>
