@page "{id:int}"
@using BsslProcurement.UtilityMethods
@using BsslProcurement.Const
@model BsslProcurement.Pages.Staff.ItemRequisition.ProcCommencement.DetailRequisitionModel
@{
    ViewData["Title"] = "DetailRequisition";
}

@section Styles{

    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/quill.snow.css" rel="stylesheet" />
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .faRedColour {
            color: red;
        }

        .ql-editor {
            min-height: 200px;
        }

        @@media (min-width: 768px) {
            .modal-xl {
                width: 90%;
                max-width: 1200px;
            }
        }

        .del {
            cursor: pointer;
        }
    </style>

}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Error
    </div>
}


@if (Model.Requisition == null)
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        No requisition Available
    </div>
}
else
{
    <div class="row mt-5">
        <div class="col-md-12">
            <form id="reqForm" class="panel panel-login" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ReqId" />
                <div class="panel-heading">
                    <div class="row">
                        <p class="header-text">Purchase Requisition For @Model.Requisition.PRNumber</p>

                    </div>
                    <hr>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div>
                    <div class="">

                        <div class=" panel">

                            <div class="d-flex justify-content-center mb-3">

                                <div class="panel">
                                    <div class="text-center mb-3">
                                        <div class="form-group mb-0">
                                            <label>Procurement Type : </label>
                                            <label class="btn btn-outline-dark pl-4">
                                                <input class="form-check-input" type="radio" asp-for="Vm.ProcurementType" value="Capital Procurement">
                                                Capital Procurement
                                            </label>
                                            <label class="btn btn-outline-dark pl-4">
                                                <input class="form-check-input" type="radio" asp-for="Vm.ProcurementType" value="Recurrent Procurement">
                                                Recurrent Procurement
                                            </label>
                                        </div>
                                        <span asp-validation-for="Vm.ProcurementType"></span>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>PR No :</label>
                                    <input class="form-control" readonly value="@Model.Requisition.PRNumber" placeholder="" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>PR Date : </label>
                                    <input class="form-control" readonly value="@Model.Requisition.Date.Value.ToString("dd/MM/yyyy")" placeholder="Pick Date" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Expected Delivery Date : </label>
                                    <input class="form-control" readonly value="@Model.Requisition.DeliveryDate.Value.ToString("dd/MM/yyyy")" placeholder="Pick Delivery Date" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@($"Requesting {Model.Requisition.RequesterType} : ")</label>
                                    <input class="form-control" readonly value="@Model.Requisition.RequesterValue" placeholder="Enter Department" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Delivery Destination : </label>
                                    <input class="form-control" readonly value="@Model.Requisition.RequiredAtDepartment" />

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Request Description : </label>
                                    <textarea readonly class="form-control" rows="3">@Model.Requisition.Description</textarea>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Method : </label>
                                    <select class="form-control" asp-items="ConstantVals.ProcurementMethod" required asp-for="Vm.ProcMethod">
                                        <option value="">Select Procurement Type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Process Type : </label>
                                    <select class="form-control" required onchange="getERFx(this.value);" asp-for="Vm.ProcType">
                                        <option value="">Select Process Type</option>
                                        <option value="Internal">Internal</option>
                                        <option value="External">External</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>eRFx Type : </label>
                                    <select class="form-control" required asp-for="Vm.Erfx">
                                        <option value="">-- Select eRFx --</option>
                                    </select>
                                    <div id="staffErfx" hidden style="display:flex">
                                        <input class="form-control" asp-for="Vm.Erfx" readonly id="forStaffText" rows="6" placeholder="Pick Staff" />
                                        <button class="btn loadStaffModal ml-1" value="forStaffText" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>
                                    </div>

                                </div>
                            </div>



                            <div class="mt-3 mb-5 col-sm-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>S/No</th>
                                            <th class="text-center">Store Item Code</th>
                                            <th>Description Of <br />Goods/Services</th>
                                            <th class="text-center">Supplier</th>
                                            <th>Quantity <i class="fa fa-asterisk fa-xs faRedColour"></i></th>
                                            <th>Unit Of<br />Measurement</th>
                                            <th>Category</th>
                                            <th>Subcategory</th>
                                            <th>Attachment</th>
                                        </tr>
                                    </thead>
                                    <tbody id="requisitionBody">
                                        @for (int i = 0; i < Model.ItemGridViewModels.Count; i++)
                                        {
                                            var item = Model.ItemGridViewModels[i].RequisitionItem;

                                            <tr class="">

                                                <td class="">
                                                    <label>@(i + 1)</label>
                                                    <input type="hidden" asp-for="ItemGridViewModels[i].RequisitionItem.Id" />
                                                </td>
                                                <td>
                                                    <div class="flex-row d-flex">
                                                        <input id="@($"code{i}")" type="text" value=@item.StoreItemCode />
                                                        <input id="@($"hiddencode{i}")" type="hidden" asp-for="ItemGridViewModels[i].RequisitionItem.StoreItemCode" />
                                                        <button class="btn loadItemModal" inputclass="@i"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input id="@($"descInput{i}")" type="hidden" asp-for="ItemGridViewModels[i].RequisitionItem.StoreItemDescription" />
                                                    <label id="@($"desc{i}")" class="font-weight-bold">@item.Description</label>
                                                </td>
                                                <td>
                                                    <div class="flex-row d-flex">
                                                        <input type="text" class="@($"txtsupfield{i}")" />
                                                        <input class="@($"txtsupinput{i}")" type="hidden" readonly asp-for="Requisition.RequisitionItems[i].AccustId" />
                                                        <button class="btn loadSupplierModal" data-toggle="modal" indexClass="@i" ><i class="fa fa-search"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="font-weight-bold">@item.Quantity</label>
                                                </td>
                                                <td>
                                                    <label class="font-weight-bold">@item.UnitOfMeasurement</label>
                                                </td>
                                                <td>
                                                    <select required class="form-control form-control-sm catField @($"catField{i}")" catId="@i" asp-for="ItemGridViewModels[i].RequisitionItem.CategoryCode" asp-items="Model.CategoryList">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                    <input id="@($"catNameField{i}")" type="hidden" asp-for="ItemGridViewModels[i].RequisitionItem.Category" />
                                                </td>
                                                <td>
                                                    <select required class="form-control-sm subCatField @($"subCatField{i}")" subcatId="@i" asp-for="ItemGridViewModels[i].RequisitionItem.SubCategoryCode">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                    <input id="@($"subCatNameField{i}")" type="hidden" asp-for="ItemGridViewModels[i].RequisitionItem.SubCategory" />
                                                </td>
                                                @if (item.Attachment != null)
                                                {

                                                    <td>
                                                        <partial name="~/Pages/Shared/Modals/_AttachmentViewPartial.cshtml" model="item.Attachment.FilePath" />
                                                        <button data-preview="@i" data-url="@item.Attachment.FilePath" class="btnPreviewItemAttachment">View File</button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <label>No Attachment</label>
                                                    </td>
                                                }

                                            </tr>

                                        }
                                        @*<tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td class="font-weight-bold text-right">Total Amount : </td>
                                                    <td class="font-weight-bold text-lg-center">@NairaFormat.GetNairaValue(Model.Requisition.RequisitionItems.Sum(x => Convert.ToInt32(x.Amount)))</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>*@
                                </table>
                                <input type="hidden" id="lastIndex" value="0" />
                            </div>


                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="my-2 col-sm-6">
                                        <div class="col-sm-12">
                                            <label>Prepared By : </label>
                                            <span class="d-flex flex-row">
                                                <input id="txtprepared" value="@Model.Requisition.PreparedBy" class="form-control" readonly rows="6" placeholder="" />
                                                @*<button class="btn loadStaffModal" value="txtprepared" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>*@

                                            </span>


                                        </div>
                                        <div class="col-sm-12 mt-2">
                                            <label>Rank : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" value="@Model.Requisition.PreparedByRank" readonly id="txtpreparedRank" rows="6" placeholder="" />
                                            </span>

                                        </div>
                                    </div>
                                    <div class="my-2 col-sm-6">
                                        <div class="col-sm-12">
                                            <label>For : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" value="@Model.Requisition.PreparedFor" readonly id="forStaffText" rows="6" placeholder="" />
                                            </span>

                                        </div>
                                        <div class="col-sm-12 mt-2">
                                            <label>Rank : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" value="@Model.Requisition.PreparedForRank" readonly id="forStaffTextRank" rows="6" placeholder="" />
                                            </span>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 mt-2">
                                <div class="form-group">
                                    <h5 class="font-weight-bold">Justification : </h5>
                                    <input type="hidden" id="purpose" value="@Model.Requisition.Purpose" />
                                    <div id="editor">

                                    </div>
                                </div>
                            </div>

                        </div>


                        @if (Model.WfVm != null)
                        {
                            <div class="modal fade" id="approverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Send to Next Staff :</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <partial name="~/Pages/Shared/Modals/_SelectApproverPartial.cshtml" model="Model.WfVm" />
                                        </div>
                                        <div class="modal-footer justify-content-around">
                                            <input id="btnSubmit" class="btn btn-lg btn-primary" asp-page-handler="Submit" value="Submit" type="submit" placeholder="" />

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around no-print">
                                <input data-toggle="modal" data-target="#approverModal" class="btn btn-lg btn-primary" value="Send to Next Process" type="button" placeholder="" />

                                <button id="printBtn" class="btn btn-lg btn-info" onclick="print(); return false;">Print/Preview</button>
                            </div>

                        }

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" id="staffModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Staff Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="grid"></div>
                </div>
                <div id="spinner" class="d-flex justify-content-center">
                    <div class="loader">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="itemModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Item Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="Itemgrid"></div>
                </div>
                <div id="Itemspinner" class="d-flex justify-content-center">
                    <div class="loader">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="supplierModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Item Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="suppliergrid"></div>
                </div>
                <div id="supplierspinner" class="d-flex justify-content-center">
                    <div class="loader">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="itemHiddenURL" value="@Url.Action("GetItemPartial", "Items")" />
    <input type="hidden" id="supplierHiddenURL" value="@Url.Action("GetSupplierPartial", "Vendor")" />
}

@section Scripts{
    <script src="~/js/fileUpload.js"></script>
    <script src="~/js/quill.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script>

        //to load staff modal
        $(function () {
            $('.loadStaffModal').on('click', function () {
                $('#grid').empty();
                $('#spinner').addClass('d-flex');
                $('#spinner').show();
                $('#staffModal').modal("show");

                //get staff name textbox
                var txtToAssign = $('#' + $(this).val() + '');
                //get staff rank textbox

                var txtRankToAssign = $('#' + $(this).val() + 'Rank');
                $('#grid').load(this.baseURI + '?handler=StaffPartial', function () {
                    $('#spinner').removeClass('d-flex');
                    $('#spinner').hide();
                    $('#staffTable').dataTable();

                    $('.btnStaffName').on('click', function () {
                        //assign staff name textbox
                        txtToAssign.val($(this).val());

                        //assign staff rank textbox
                        txtRankToAssign.val($(this).attr('staffrank'));

                        //$('#forStaffText').val();
                        $('#staffModal').modal("hide");
                        return false;
                    });
                });

                return false;
            });
        });

        $(function () {
            $('.catField').on('change', function () {
                var catindex = $(this).attr('catid');

                $(`#catNameField${catindex}`).val($(`.catField${catindex} option:selected`).text());
                var categorycode = $(`.catField${catindex}`).val()
                var Url = window.location.origin + "/api/Bsslitf/Subcategory/" + categorycode;
                $.ajax({
                    url: Url,
                    success: function (result) {
                        var option = '<option value="">--Select--</option>';

                        for (var i = 0; i < result.length; i++) {
                            var item = result[i];
                            option += `<option value="${item.buscode}">${item.busdescr}</option>`;
                        }

                        $(`.subCatField${catindex}`).html(option);
                    },
                    error: function (error) {
                        console.log(error);
                    }

                })
            });
        });

        $(function () {
            $(`.subCatField`).on('change', function () {
                var subcatindex = $(this).attr('subcatid');
                $(`#subCatNameField${subcatindex}`).val($(`.subCatField${subcatindex} option:selected`).text());
            });
        });

        var index = '';

        //loads item modal
        $(function () {
            $('.loadItemModal').on('click', function () {
                $('#itemModal').modal("show");

                //get item name textbox
                index = $(this).attr('inputclass');

                var baseUrl = $('#itemHiddenURL').val();
                $('#Itemgrid').html('');

                $('#Itemgrid').load(baseUrl, function () {
                    $('#Itemspinner').removeClass('d-flex');
                    $('#Itemspinner').hide();
                    $('#itemTable').dataTable();

                });

                return false;

            });

            $('#itemModal').on('click', '.btnItemName', function () {
                //assign staff name textbox
                var btn = $(this);
                var x = index;

                $(`#hiddencode${index}`).val(btn.val());
                $(`#code${index}`).val(btn.val());
                $(`#desc${index}`).text(btn.attr('itemName'));
                $(`#descInput${index}`).val(btn.attr('itemName'));

                $('#itemModal').modal("hide");
                return false;
            });
        });

        var supindex = '';
        //loads supplier modal
        $(function () {
            $('.loadSupplierModal').on('click', function () {
                $('#supplierModal').modal("show");

                //get item name textbox
                supindex = $(this).attr('indexclass');

                var baseUrl = $('#supplierHiddenURL').val();
                $('#suppliergrid').html('');

                $('#suppliergrid').load(baseUrl, function () {
                    $('#supplierspinner').removeClass('d-flex');
                    $('#supplierspinner').hide();
                    $('#supplierTable').dataTable();

                });

                return false;

            });

            $('#supplierModal').on('click', '.btnSupplierName', function () {
                //assign staff name textbox
                var btn = $(this);

                $(`.txtsupfield${supindex}`).val(btn.val());
                $(`.txtsupinput${supindex}`).val(btn.attr('itemid'));

                $('#supplierModal').modal("hide");
                return false;
            });
        });

        $(document).ready(function () {
            //$(".fancybox").fancybox({
            //    openEffect: 'none',
            //    closeEffect: 'none',
            //    iframe: {
            //        preload: false
            //    }
            //});


            //to create a custom memo field/ textbox
            var quill = new Quill('#editor', {
                theme: 'snow',
                format: {
                    color: 'red'
                }
            });

            //set purpose field
            var purposeValue = $("#purpose").val();
            quill.enable(false);
            quill.setText(purposeValue);


        })


        function getERFx(processType) {
            if (processType == "Internal") {
                $('#Vm_Erfx').attr('hidden', true);
                $('#staffErfx').attr('hidden', false);

            } else if (processType == "External") {

                $('#Vm_Erfx').attr('hidden', false);
                $('#Vm_Erfx').empty();
                $('#staffErfx').attr('hidden', true);
                $('#Vm_Erfx').append(
                    
                    $('<option>', { value: '', text: '-- Select Erfx--' }),
                    $('<option>', { value: 'RFQ', text: 'RFQ – Request for Quotation' }),
                    $('<option>', { value: 'RFP', text: 'RFP – Request for Proposal ' }),
                    $('<option>', { value: 'RFI', text: 'RFI – Request for Information' }),
                    $('<option>', { value: 'RFT', text: 'RFT – Request for Tender' })
                );
            }
        }

    </script>

}