@page "{id:int}"
@using BsslProcurement.UtilityMethods
@using BsslProcurement.Const
@model BsslProcurement.Pages.Staff.ItemRequisition.ProcCommencement.DetailRequisitionModel
@{
    ViewData["Title"] = "DetailRequisition";
}

@section Styles{

    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .faRedColour {
            color: red;
        }

        .ql-editor {
            min-height: 200px;
        }

        @@media (min-width: 768px) {
            .modal-xl {
                width: 90%;
                max-width: 1200px;
            }
        }

        .del {
            cursor: pointer;
        }
    </style>

}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Error
    </div>
}


@if (Model.Requisition == null)
{
    <div class="alert alert-danger alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        No requisition Available
    </div>
}
else
{

    <div class="row mt-5">
        <div class="col-md-12">
            <form id="reqForm" class="panel panel-login" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="ReqId" />
                <div class="panel-heading">
                    <div class="row">
                        <p class="header-text">Purchase Requisition For @Model.Requisition.PRNumber</p>

                    </div>
                    <hr>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div>
                    <div class="">

                        <div class=" panel">

                            <div class="d-flex justify-content-center mb-3">

                                <div class=" panel">
                                    <div class="text-center mb-3">
                                        <div class="form-group mb-0">
                                            <label class="btn btn-outline-dark pl-4">
                                                <input class="form-check-input" type="radio" asp-for="Requisition.ProcurementType" value="Capital Procurement">
                                                Capital Procurement
                                            </label>
                                            <label class="btn btn-outline-dark pl-4">
                                                <input class="form-check-input" type="radio" asp-for="Requisition.ProcurementType" value="Recurrent Procurement">
                                                Recurrent Procurement
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <div class="row p-2">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>PR No :</label>
                                    <input class="form-control" readonly value="@Model.Requisition.PRNumber" placeholder="" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Date : </label>
                                    <input class="form-control" readonly value="@Model.Requisition.Date.Value.ToString("dd/MM/yyyy")" placeholder="Pick Date" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Delivery Date : </label>
                                    <input class="form-control" readonly value="@Model.Requisition.DeliveryDate.Value.ToString("dd/MM/yyyy")" placeholder="Pick Delivery Date" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Requesting Dept/Section : </label>
                                    <input class="form-control" readonly value="@Model.Requisition.RequesterValue" placeholder="Enter Department" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Required At : </label>
                                    <input class="form-control" readonly value=@Model.Requisition.RequiredAtDepartment />

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Method : </label>
                                    <select class="form-control" asp-items="ConstantVals.ProcurementMethod" required asp-for="Vm.ProcMethod">
                                        <option value="">Select Procurement Type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Process Type : </label>
                                    <select class="form-control" required onchange="getERFx(this.value);" asp-for="Vm.ProcType">
                                        <option value="">Select Process Type</option>
                                        <option value="Internal">Internal</option>
                                        <option value="External">External</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>eRFx Type : </label>
                                    <select class="form-control" required asp-for="Vm.Erfx">
                                        <option value="">Select eRFx</option>
                                    </select>
                                    <div id="staffErfx" hidden style="display:flex">
                                        <input class="form-control" asp-for="Vm.Erfx" readonly id="forStaffText" rows="6" placeholder="Pick Staff" />
                                        <button class="btn loadStaffModal ml-1" value="forStaffText" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>
                                    </div>

                                </div>
                            </div>



                            <div class="mt-3 mb-5 col-sm-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>S/No</th>
                                            <th>Description Of <br />Goods/Services <i class="fa fa-asterisk fa-xs faRedColour"></i></th>
                                            <th>Quantity <i class="fa fa-asterisk fa-xs faRedColour"></i></th>
                                            <th>Unit Of<br />Measurement</th>
                                            <th>Attachment</th>
                                        </tr>
                                    </thead>
                                    <tbody id="requisitionBody">
                                        @for (int i = 0; i < Model.ItemGridViewModels.Count; i++)
                                        {
                                            var item = Model.ItemGridViewModels[i].RequisitionItem;

                                            <tr class="">

                                                <td class="">
                                                    <label>@(i + 1)</label>
                                                </td>
                                                <td>
                                                    <label class="font-weight-bold">@item.Description</label>
                                                </td>
                                                <td>
                                                    <label class="font-weight-bold">@item.Quantity</label>
                                                </td>
                                                <td>
                                                    <label class="font-weight-bold">@item.UnitOfMeasurement</label>

                                                </td>
                                                @if (item.Attachment != null)
                                                {

                                                    <td>
                                                        <button data-preview="@i" class="btnPreviewItemAttachment">View Attachment</button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <label>No Attachment</label>
                                                    </td>
                                                }


                                            </tr>

                                        }
                                        @*<tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="font-weight-bold text-right">Total Amount : </td>
                                        <td class="font-weight-bold text-lg-center">@NairaFormat.GetNairaValue(Model.Requisition.RequisitionItems.Sum(x => Convert.ToInt32(x.Amount)))</td>
                                        <td></td>
                                    </tr>
                                </tfoot>*@
                                </table>
                                <input type="hidden" id="lastIndex" value="0" />
                                @*<div class="form-group">
                            <div class="row">
                                <div class="col-sm-3"> </div>
                                <div class="col-sm-6 text-center">
                                    <button id="btnMore" class="btn btn-outline-primary">New Item</button>
                                </div>
                            </div>
                        </div>*@
                            </div>


                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="my-2 col-sm-6">
                                        <div class="col-sm-12">
                                            <label>Prepared By : </label>
                                            <span class="d-flex flex-row">
                                                <input id="txtprepared" value="@Model.Requisition.PreparedBy" class="form-control" readonly rows="6" placeholder="" />
                                                @*<button class="btn loadStaffModal" value="txtprepared" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>*@

                                            </span>


                                        </div>
                                        <div class="col-sm-12 mt-2">
                                            <label>Rank : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" value="@Model.Requisition.PreparedByRank" readonly id="txtpreparedRank" rows="6" placeholder="" />
                                            </span>

                                        </div>
                                    </div>
                                    <div class="my-2 col-sm-6">
                                        <div class="col-sm-12">
                                            <label>For : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" value="@Model.Requisition.PreparedFor" readonly id="forStaffText" rows="6" placeholder="" />
                                                @*<button class="btn loadStaffModal" value="forStaffText" data-toggle="modal" data-target="#staffModal"><i class="fa fa-search"></i></button>*@

                                            </span>

                                        </div>
                                        <div class="col-sm-12 mt-2">
                                            <label>Rank : </label>
                                            <span class="d-flex flex-row">
                                                <input class="form-control" value="@Model.Requisition.PreparedForRank" readonly id="forStaffTextRank" rows="6" placeholder="" />
                                            </span>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12 m-4 ">
                                @*@if (Model.Requisition.Attachments.Count > 0)
                        {
                            <h5 class="font-weight-bold">Attachments</h5>
                            <br>
                            <div class="d-flex flex-column">
                                <p>
                                    @foreach (var file in Model.Requisition.Attachments)
                                    {
                                        if (file.FilePath.EndsWith("pdf"))
                                        {
                                            <a class="fancybox m-5 btn btn-link fas fa-file-pdf" data-fancybox-type="iframe" href="@Url.Content("~/Attachments/" + file.FilePath)">Open PDf Attachment</a>
                                        }
                                        else
                                        {
                                            <a class="fancybox m-5" href="@Url.Content("~/Attachments/" + file.FilePath)"><img src="@Url.Content("~/Attachments/" + file.FilePath)" class="img-thumbnail" style="max-width : 10% !important" asp-append-version="true" /></a>

                                        }

                                    }
                                </p>

                            </div>
                        }*@

                            </div>


                            <div class="col-sm-12 m-4">
                                <div class="form-group">
                                    <h5 class="font-weight-bold">Purpose : </h5>
                                    <input type="hidden" id="purpose" value="@Model.Requisition.Purpose" />
                                    <div id="editor">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Send to Next Staff :</label>
                                    <div class="panel border border-dark rounded p-2">
                                        <partial name="~/Pages/Shared/Modals/_SelectApproverPartial.cshtml" model="Model.WfVm" />
                                    </div>
                                </div>


                            </div>
                        </div>
                        @if (Model.WfVm != null)
                        {

                            <div class="d-flex justify-content-around no-print">
                                @*  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                                @* <input id="btnSave" class="btn btn-lg btn-outline-info float-left" asp-page-handler="Save" value="Save For Later" type="submit" placeholder="" />*@

                                <input id="btnSubmit" class="btn btn-lg btn-primary" asp-page-handler="Submit" value="Submit" type="submit" placeholder="" />

                                <button id="printBtn" class="btn btn-lg btn-info" onclick="print(); return false;">Print/Preview</button>
                            </div>

                        }
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" id="staffModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Staff Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="grid"></div>
                </div>
                <div id="spinner" class="d-flex justify-content-center">
                    <div class="loader">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @if (Model.ItemGridViewModels.Count > 0)
    {
        var fileNames = Model.ItemGridViewModels.Where(x=> x.Attachment != null).Select(x => x.Attachment.FileName).ToList();
        <partial name="~/Pages/Shared/Modals/_AttachmentViewPartial.cshtml" model="fileNames" />
    }
}

@section Scripts{
    <script src="~/js/fileUpload.js"></script>
    <script src="~/js/quill.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/quill.js"></script>
    <script>

        //to load staff modal
        $(function () {
            $('.loadStaffModal').on('click', function () {
                $('#grid').empty();
                $('#spinner').addClass('d-flex');
                $('#spinner').show();
                $('#staffModal').modal("show");

                //get staff name textbox
                var txtToAssign = $('#' + $(this).val() + '');
                //get staff rank textbox

                var txtRankToAssign = $('#' + $(this).val() + 'Rank');
                $('#grid').load(this.baseURI + '?handler=StaffPartial', function () {
                    $('#spinner').removeClass('d-flex');
                    $('#spinner').hide();
                    $('#staffTable').dataTable();

                    $('.btnStaffName').on('click', function () {
                        //assign staff name textbox
                        txtToAssign.val($(this).val());

                        //assign staff rank textbox
                        txtRankToAssign.val($(this).attr('staffrank'));

                        //$('#forStaffText').val();
                        $('#staffModal').modal("hide");
                        return false;
                    });
                });

                return false;
            });
        });

        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                iframe: {
                    preload: false
                }
            });




            //set purpose field
            var purposeValue = $("#purpose").val();
            var purposeField = document.getElementById('editor');
            purposeField.innerHTML = purposeValue;

        })


        function getERFx(processType) {
            if (processType == "Internal") {
                $('#Vm_Erfx').attr('hidden', true);
                $('#staffErfx').attr('hidden', false);

            } else if (processType == "External") {

                $('#Vm_Erfx').attr('hidden', false);
                $('#staffErfx').attr('hidden', true);
                $('#Vm_Erfx').append(
                    $('<option>', { value: 'RFQ ID', text: 'RFQ ID – Request for Quotation' }),
                    $('<option>', { value: 'RFP ID', text: 'RFP ID – Request for Proposal ' }),
                    $('<option>', { value: 'RFI ID', text: 'RFI ID – Request for Information' }),
                    $('<option>', { value: 'RFT ID', text: 'RFT ID – Request for Tender' })
                );
            }
        }

    </script>

}